/* Общие стили для всех страниц */
#page1, #page2, #page3, #page4, #page5 {
  color: black;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 35px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* занимает весь экран */
  box-sizing: border-box;
}

/* Контейнер кнопок */
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

/* Промпты */
.prompt-quality, .prompt-aspect, .prompt-style {
  text-align: left;
  margin-top: 20px;
  white-space: pre-line; /* переносы строк */
}
