#page1 {
  color: black;
max-width: 100%;
  min-height: 200%;
  margin: 20px;
  padding: 30%;
  text-align: center;
  box-shadow: 0px 0px 35px black;
}

#page2 {
color: black;
max-width: 100%;
  min-height: 200%;
  margin: 20px;
  padding: 30%;
  text-align: center;
  box-shadow: 0px 0px 30px black;
  display: flex;
  flex-direction: column;   /* Элементы идут друг за другом сверху вниз */
  min-height: 200%;      /* Или ваша фиксированная высота */
}


#page3 {
color: black;
max-width: 100%;
  min-height: 200%;
  margin: 30px;
  padding: 10%;
  text-align: center; 
  box-shadow: 0px 0px 35px black;
}

#page4 {
color: black;
max-width: 100%;
  min-height: 200%;
  margin: 30px;
  padding: 10%;
  text-align: center; 
  box-shadow: 0px 0px 35px black;
}

#page5 {
color: black;
max-width: 100%;
min-height: 200%;
  margin: 30px;
 padding: 10%;
  text-align: center; 
  box-shadow: 0px 0px 35px black;
}
.button-container {
  display: flex;            /* Включаем Flexbox */
  justify-content: space-around; /* Распределяем кнопки равномерно */
  align-items: center;      /* Центрируем по вертикали */
  margin-top: 2px;     /* Прижмет контейнер к низу, если у родителя display: flex */
  padding: 30px 0;          /* Отступы сверху и снизу */
}
h1  {
text-shadow: 2px 2px 10px black;
}

